
<!-- <a (click)="EditPicture()">edit picture</a><br>
<a (click)="NewPicture()" >add picture</a><br>


<h1>hellow world!!!</h1>
<a (click)="IsLogin=!IsLogin">Log in</a> -->
<!-- <app-login *ngIf="IsLogin"></app-login>
<app-canvas2 *ngIf="!IsLogin"></app-canvas2> -->
<router-outlet></router-outlet> 