<!-- <img [src]="img" width="400px" height="400px"  style=" position: absolute; border: 2px solid gray ; "> -->
<body >
<button (click)="ToSelect()">select shape</button>
<button (click)="ToShape(1)" class="w3-btn w3-gray w3-margin">
    <div style="background-color: transparent;border: 2px solid black;width: 60px;height: 40px;"></div>
    <label >מלבן</label>
</button><br>
<button (click)="ToShape(2)" class="w3-btn w3-gray w3-margin">
   
    <div style="border-radius: 60%;background-color: transparent;border: 2px solid black;width: 60px;height: 40px;"></div>
    <label>אליפסה</label>
</button><br>
<button (click)="ToShape(3)" class="w3-btn w3-gray w3-margin">
    <div>
    <svg height="33" width="60" >
        <line x1="5" y1="5" x2="50" y2="35" style="stroke:rgb(8, 8, 8);stroke-width:2" />
    </svg></div>
    <label>קו</label>
</button><br>
<div width="800px"  
    style=" left:200px;top:100px;position: absolute; "
    [class.draw]="shape>0"
    [class.select]="shape==0" >
   
    <img [src]="pictureService.currentPicture.pictureUrl"  width="800px" height="600px" 
        style=" position: absolute; border: 2px solid gray ; ">
        <canvas #can2 id="can2" width="800px" height="600px" 
        style=" position: absolute; border: 2px solid gray ;">
        works!</canvas>
        <canvas #can1 id="can1" width="800px" height="600px" 
        style=" position: absolute; border: 2px solid gray ; "></canvas>

</div>
<button class="w3-btn w3-pink" (click)="SaveChanges()">שמור שינויים</button>
<button class="w3-btn w3-pink" (click)="GetDrawings()">שלוף שרטוטים</button>

</body>
<!-- clearRect() is the only way to do it. A good way to work around this (if you have a lot of elements drawn on your canvas) is to overlay two canvases in the HTML using absolute positioning, using one for the "static" drawing and a top layer for the drawing that you plan to clear/redraw. This saves CPU time drawing all of your canvas again, too. -->