<body class="w3-center">
<p>new-picture works!</p>
<input type="file" id="file" class="w3-button w3-pink" accept="image/*" name="file" (change)="hundleFileInput($event.target.files)">
<button type="button" class="w3-button w3-pink" (click)="uploudFileToActivity()">uploud</button>
<br>
<img [src]="pictureService.imageUrl" width="60%">
<button type="button" class="w3-button w3-pink" (click)="savePicture()">Save</button>

