<p>picture-list works!</p>
<div *ngIf="isLoad">
    <div *ngFor="let pic of picList" (dblclick)="editPicture(pic)" >
        <img [src]="pic.pictureUrl" width="80px" height="80px"> 
        <label>{{pic.pictureName}}</label>
        <span>{{pic.descriptions}}</span>
        <br>
    </div>
    <a (click)="NewPicture()" >add picture</a><br>
</div>